<p>pipes works!</p>
<p ngNonBindable>Birthday is {{ birthday | date }}</p>
<p>Birthday is {{ birthday }}</p>
<p>Birthday is {{ birthday | date }}</p>

<h2 ngNonBindable>{{Name | lowercase}}</h2>
<div>{{Name | lowercase}}</div>

<h2 ngNonBindable>{{Name | uppercase}}</h2>
<div>{{Name | uppercase}}</div>

<h2 ngNonBindable>{{Name | titlecase}}</h2>
<div>{{Name | titlecase}}</div>

<h3>Slice Pipes</h3>
<h2 ngNonBindable>{{Name | slice:3}}</h2>
<div>{{Name | slice:3}}</div>

<h2 ngNonBindable>{{Name | slice:3:5}}</h2>
<h2>{{Name | slice:3:5}}</h2>

<h3>json Pipe</h3>
<div>{{Employee | json}}</div>


<div>{{currentDate}}</div>

<div ngNonBindable>{{currentDate | date :'longDate'}}</div>
<div>{{currentDate | date :'longDate'}}</div>

<div ngNonBindable>{{currentDate | date :'shortDate'}}</div>
<div>{{currentDate | date :'shortDate'}}</div>

<div ngNonBindable>{{currentDate | date :'fullDate'}}</div>
<div>{{currentDate | date :'fullDate'}}</div>

<h3>Decimal Pipes</h3>

<div>
    Using default format: 
    minIntegerDigits = 1 
    minFractionDigits = 0 
    maxFractionDigits = 3 
</div>

<h2>Using default format</h2>
<h2 ngNonBindable>{{12.638467846 | number}}</h2>
<div>{{12.638467846 | number}}</div>

<h2 ngNonBindable>{{12.638767846 | number}}</h2>
<div>{{12.638767846 | number}}</div>


<h2 ngNonBindable>{{12.638467846|number:'3.2-5'}}</h2>  
<div>{{12.638467846|number:'3.2-5'}}</div>  

<h2 ngNonBindable>{{0.5|number:'3.2-5'}}</h2>  
<div>{{0.5|number:'3.2-5'}}</div>  


<h2 ngNonBindable>{{4.2|number:'1.0-0'}}</h2>  
<div>{{4.2|number:'1.0-0'}}</div>  

<h3>Percent Pipes</h3>
<h2 ngNonBindable>{{2.5 | percent}}</h2>
<div>{{2.5 | percent}}</div>

<h2 ngNonBindable>{{2.5 | percent:'2.2-5'}}</h2>
<div>{{2.5 | percent:'2.2-5'}}</div> 


<h3>Currency Pipes</h3>

<h2 ngNonBindable>{{0.25 | currency }}</h2>
<div>{{0.25 | currency }}</div>


<h2 ngNonBindable>{{10.263782 | currency : 'USD'}}</h2>
<div>{{10.263782 | currency : 'USD'}}</div>

<h2 ngNonBindable>{{10.263782 | currency}}</h2>
<div>{{10.263782 | currency }}</div>

<h2 ngNonBindable>{{10.263782 | currency : 'INR'}}</h2>
<div>{{10.263782 | currency : 'INR'}}</div>

<h2 ngNonBindable>{{10.263782 | currency : 'INR' : true}}</h2>
<div>{{10.263782 | currency : 'INR': true}}</div>

<h2 ngNonBindable>{{10.263782 | currency : 'INR' : false}}</h2>
<div>{{10.263782 | currency : 'INR': false}}</div>


<h2 ngNonBindable>{{10.263782 | currency : 'INR' : false : '2.2-4'}}</h2>
<div>{{10.263782 | currency : 'INR': false: '2.2-4'}}</div>

<h3>Chainig Pipes</h3>
<div ngNonBindable>{{currentDate | date  }}</div>
<div>{{currentDate | date  }}</div>

<div ngNonBindable>{{currentDate | date | uppercase }}</div>
<div>{{currentDate | date | uppercase }}</div>

<div ngNonBindable>{{birthday | date | uppercase }}</div>
<div>{{birthday | date | uppercase }}</div>

<div ngNonBindable>{{birthday | date:'dd/MM/yyyy'  }}</div>
<div>{{birthday | date:'dd/MM/yyyy' }}</div> 

<h3> Parameterized pipes </h3>

<h2 ngNonBindable>{{10.263782 | currency : 'INR' : false : '2.2-4'}}</h2>
<div>{{10.263782 | currency : 'INR': false: '2.2-4'}}</div> 
