<!-- <h2>NGIF</h2>

<div *ngIf="true">Hello i'm true</div>
<div *ngIf="false">Hello i'm false</div>

<div *ngIf="isShow">Hello World!</div>
<div *ngIf="!isShow">Hello India!</div>

<h3>NgIf with radio button</h3>
<div>
    <input type="radio" name="val" (click)="changeValue(true)" checked> Male
    <input type="radio" name="val" (click)="changeValue(false)"> FeMale

    <div *ngIf="IsMale">
        I am Male
    </div>

    <div *ngIf="!IsMale">
        I am Female
    </div>
</div>
 -->

<!-- 

<h3>IsAdmin</h3>
<ng-template [ngIf]="IsAdmin" [ngIfThen]="thenBlock" [ngIfElse]="elseBlock"></ng-template>


<ng-template #thenBlock>
    I am ajeet
</ng-template>

<ng-template #elseBlock>
    I am chandan
</ng-template>

<h2>NgFor</h2>

<ul>
    <li *ngFor="let employee of employees; index as i">
        {{i+1}} My name is {{employee.name}} mobile number {{employee.mobile}} and my country is {{employee.country}}
    </li>
</ul> -->

<!-- <h2>With ng-template</h2>
<ng-template ngFor let-employee [ngForOf]="employees" ; let-i=index;>
    {{i+1}}. Name : {{employee.name}} | Mobile No : {{employee.mobile}} <br />
</ng-template>

<h2>Even and odd</h2>
<span *ngFor="let data of employees; index as i; even as isEven; odd as isOdd">
    <font color="red" *ngIf="isEven"> Name : {{data.name}} | Mobile No : {{data.mobile}} </font> <br />
    <font color="blue" *ngIf="isOdd"> Name : {{data.name}} | Mobile No : {{data.mobile}} </font><br />
</span> -->

<h3>ngFor ng-template with index,even,odd</h3>

<ng-template ngFor let-data [ngForOf]="employees" ; let-i=index; let-isEven=even; let-isOdd=odd>
    <font color="red" *ngIf="isEven">{{data.name}} | Mobile No : {{data.mobile}} </font> <br />
    <font color="blue" *ngIf="isOdd">{{data.name}} | Mobile No : {{data.mobile}} </font><br />
</ng-template>


<!-- <h2>Even and odd</h2>
<span *ngFor="let data of employees; index as i; even as isEven; odd as isOdd">
    <font color="red" *ngIf="data.country=='India'"> Name : {{data.name}} | Mobile No : {{data.mobile}} </font> <br />
    <font color="blue" *ngIf="data.country=='UK'"> Name : {{data.name}} | Mobile No : {{data.mobile}} </font><br />
    <font color="orange" *ngIf="data.country=='USA'"> Name : {{data.name}} | Mobile No : {{data.mobile}} </font><br />
</span>

<h2>NgSwitch</h2>

<h3>ng Swtich Using HTML Tag</h3>
<div [ngSwitch]="person">
    <div *ngSwitchCase="'chandan'">Hello Chandan Sir</div>
    <div *ngSwitchCase="'Ajeet'">Hello Ajeet</div>
    <div *ngSwitchCase="'Rahul'">Hello Rahul</div>
    <div *ngSwitchCase="'Deepak'">Hello Deepak</div>
    <div *ngSwitchDefault>No Match</div>
</div>


<h3>ng Swtich Using Input Tag</h3>
Input : <input type="text" #num (keyup)="0">
<div [ngSwitch]="num.value">
    <div *ngSwitchCase="'1'">Hello 1</div>
    <div *ngSwitchCase="'2'">Hello 2</div>
    <div *ngSwitchCase="'3'">Hello 3</div>
    <div *ngSwitchCase="'4'">Hello 4</div>
    <div *ngSwitchCase="'Reddy'">Hello Reddy</div>
    <div *ngSwitchDefault>No Match</div>
</div>

<h1>Attribute Directives</h1>
<h2>NgStyle</h2>
<div [ngStyle]="{'background-color':'Red'}">Hello Sahosoft</div>

<div
    [ngStyle]="{'background-color': myclassType=='online' ? 'green' : 'violet', 'color': myclassType=='online' ? 'white' : 'black'}">
    Hello Sahosoft</div>

<div *ngFor="let employee of employees">
    <div [ngStyle]="{'color': myCountry==employee.country ? 'green' : 'Red'}">
        Name : {{employee.name}} | country : {{employee.country}}
    </div>
</div>

<h3>Multiple Style Property</h3>
<div *ngFor="let employee of employees">
    <div [style.color]="getColor(employee.country)" [style.font-size.px]="24">
        Name : {{employee.name}} | country : {{employee.country}}
    </div>
</div>

<button style='color:red' [ngStyle]="AddCSSStyles()">My Button</button>


<h3>NgClass</h3>
<div [ngClass]="'one'">
    ngClass with string
</div>

<div [ngClass]="'btn btn-primary two'">
    ngClass with string
</div>


<h3>myClass</h3>
<div [ngClass]="myClass">
    ngClass with string
</div>

<button (click)="getClass()">getClass</button>

<h3>ngClass with string Example</h3>
<div *ngFor="let data of employees">
    <div [ngClass]="'one two'">
        Name : {{data.name}} | country : {{data.country}}
    </div>
</div>

<h3>Multiple ngClass condition</h3>

<div [ngClass]="{'btn-info' : myclasses=='online',
'text-white' : myclasses=='online',
'btn-danger' : myclasses=='offline',
'text-dark' : myclasses=='offline'
}">
    ngClass with Object
</div>


<h3>Multiple ngClass condition ex</h3>
<div *ngFor="let data of employees">
    <div [ngClass]="{'one' : data.country=='India',
'two' : data.country=='India',
'three' : data.country!='India',
'four' : data.country!='India'
}">
        Name : {{data.name}} | country : {{data.country}}
    </div>
</div>

<div>
    <button class="colorClass" [class]="'boldClass'">Save</button>
</div>

<div>
    <button class="colorClass" [class]="ClassToApply">Save</button>
</div>

 
<h3>NgClass</h3>
<div>
  <button class="colorClass" [ngClass]="AddcssClass()">Save (NgClass)</button>
</div>

<h1 appCustomstyle> Custom Directive</h1> -->

 