.text-success {
    color: green;
  }
  .text-danger {
   color: red;
  }
  .text-primary {
    color: blue;
  }
  .one {
    color: green;
  }
  .two {
    font-size: 20px;
  }
  .three {
    color: red;
  }
  .four {
    font-size: 25px;
  }
  
  .boldClass{
    font-weight:bold;
  }
  .italicsClass{
    font-style:italic;
  }
  .colorClass{
    color:red;
  }
  
  .text-success {
  color: green;
  }
  .text-danger {
    color: red;
  }
  .text-primary {
    color: blue;
  }
  .one {
    color: green;
    }
  .two {
        font-size: 20px;
    }
    .three {
        color: red;
    }
    .four {
        font-size: 25px;
    }